@import "tailwindcss";

@theme {
  --color-orange-400: #ff8533;
  --color-orange-500: #FF6B00;
  --color-orange-600: #CC5500;

  --color-zinc-950: #050505;
  --color-zinc-900: rgba(255, 255, 255, 0.02);
  --color-zinc-800: rgba(255, 255, 255, 0.05);
  --color-zinc-700: rgba(255, 255, 255, 0.1);
  --color-zinc-600: #444444;
  --color-zinc-500: #555555;
  --color-zinc-400: #666666;
  --color-zinc-300: #888888;
  --color-zinc-200: #c1c1c1;
  --color-zinc-100: #E0E0E0;

  --color-black: #050505;
}